@font-face {
    font-family: 'oswaldextralight';
    src: url('../fonts/oswald/oswald-extralight-webfont.woff2') format('woff2'),
         url('../fonts/oswald/oswald-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswaldregular';
    src: url('../fonts/oswald/oswald-regular-webfont.woff2') format('woff2'),
         url('../fonts/oswald/oswald-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'saira_semicondensedblack';
    src: url('../fonts/saira/sairasemicondensed-black-webfont.woff2') format('woff2'),
         url('../fonts/saira/sairasemicondensed-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'saira_semicondensedbold';
    src: url('../fonts/saira/sairasemicondensed-bold-webfont.woff2') format('woff2'),
         url('../fonts/saira/sairasemicondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'saira_semicondensedextrabold';
    src: url('../fonts/saira/sairasemicondensed-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/saira/sairasemicondensed-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'saira_semicondensedlight';
    src: url('../fonts/saira/sairasemicondensed-light-webfont.woff2') format('woff2'),
         url('../fonts/saira/sairasemicondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'saira_semicondensedmedium';
    src: url('../fonts/saira/sairasemicondensed-medium-webfont.woff2') format('woff2'),
         url('../fonts/saira/sairasemicondensed-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'saira_semicondensedsemibold';
    src: url('../fonts/saira/sairasemicondensed-semibold-webfont.woff2') format('woff2'),
         url('../fonts/saira/sairasemicondensed-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'saira_semicondensedthin';
    src: url('../fonts/saira/sairasemicondensed-thin-webfont.woff2') format('woff2'),
         url('../fonts/saira/sairasemicondensed-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'saira_semicondensedlight';
    overflow-x: hidden;
}

.css-border-right{ border-right: 1px solid #B1B1B0;}
.css-border-left{ border-left:1px solid #B1B1B0;}
.css-border-top{ border-top:1px solid #B1B1B0;}
.css-border-bottom{ border-bottom:1px solid #B1B1B0;}
.css-noPadding{ padding:0!important;}
.css-noMargin{ margin:0!important;}
.css-noFloat{ float:none!important;}
.css-noBorder { border: none;}
.css-bold { font-weight: bold!important;}
.css-center { text-align:center!important;}
.css-justify{ text-align:justify!important;}
.css-underline{ text-decoration: underline!important;}
.css-relative{ position:relative;}
.css-inline{ display:inline!important;}
.css-hr { height:1px; background-color:#777; border:0 solid #777; margin:-10px 0 15px 0 }
.css-hide { display:none;}
.css-shadow { -webkit-box-shadow: -5px 6px 5px -4px rgba(0,0,0,0.75); -moz-box-shadow: -5px 6px 5px -4px rgba(0,0,0,0.75); box-shadow: -5px 6px 5px -4px rgba(0,0,0,0.75);}
.css-uppercase { text-transform: uppercase;}
.css-italic { font-style: italic;}
.css-noBackground { background-color: transparent!important;}
.css-left{ float:left;}

.css-oswaldextralight { font-family: 'oswaldextralight'!important; }
.css-oswaldregular { font-family: 'oswaldregular'!important; }
.css-saira_semicondensedblack { font-family: 'saira_semicondensedblack'!important; }
.css-saira_semicondensedbold { font-family: 'saira_semicondensedbold'!important; }
.css-saira_semicondensedextrabold { font-family: 'saira_semicondensedextrabold'!important; }
.css-saira_semicondensedlight { font-family: 'saira_semicondensedlight'!important; }
.css-saira_semicondensedmedium { font-family: 'saira_semicondensedmedium'!important; }
.css-saira_semicondensedsemibold { font-family: 'saira_semicondensedsemibold'!important; }
.css-saira_semicondensedthin { font-family: 'saira_semicondensedthin'!important; }

.css-marginR10{ margin-right:10px!important}
.css-marginR20{ margin-right:20px!important}
.css-marginR30{ margin-right:30px!important}
.css-marginR40{ margin-right:40px!important}
.css-marginR50{ margin-right:50px!important}
.css-marginR100{ margin-right:100px!important}

.css-marginL10{ margin-left:10px!important}
.css-marginL20{ margin-left:20px!important}
.css-marginL30{ margin-left:30px!important}
.css-marginL40{ margin-left:40px!important}
.css-marginL50{ margin-left:50px!important}
.css-marginL60{ margin-left:60px!important}
.css-marginL70{ margin-left:70px!important}
.css-marginL80{ margin-left:80px!important}
.css-marginL90{ margin-left:90px!important}
.css-marginL100{ margin-left:100px!important}

.css-marginT0{ margin-top:0px!important}
.css-marginT5{ margin-top:5px!important}
.css-marginT10{ margin-top:10px!important}
.css-marginT20{ margin-top:20px!important}
.css-marginT24{ margin-top:24px!important}
.css-marginT30{ margin-top:30px!important}
.css-marginT40{ margin-top:40px!important}
.css-marginT45{ margin-top:45px!important}
.css-marginT50{ margin-top:50px!important}
.css-marginT60{ margin-top:60px!important}
.css-marginT70{ margin-top:70px!important}
.css-marginT72{ margin-top:72px!important}
.css-marginT80{ margin-top:80px!important}
.css-marginT90{ margin-top:90px!important}
.css-marginT100{ margin-top:100px!important}

.css-marginB0{ margin-bottom:0px!important}
.css-marginB10{ margin-bottom:10px!important}
.css-marginB20{ margin-bottom:20px!important}
.css-marginB30{ margin-bottom:30px!important}
.css-marginB40{ margin-bottom:40px!important}
.css-marginB50{ margin-bottom:50px!important}
.css-marginB55{ margin-bottom:55px!important}
.css-marginB60{ margin-bottom:60px!important}
.css-marginB70{ margin-bottom:70px!important}
.css-marginB80{ margin-bottom:80px!important}
.css-marginB90{ margin-bottom:90px!important}
.css-marginB100{ margin-bottom:100px!important}

.css-paddingR0{ padding-right:0px!important}
.css-paddingR10{ padding-right:10px!important}
.css-paddingR20{ padding-right:20px!important}
.css-paddingR30{ padding-right:30px!important}
.css-paddingR40{ padding-right:40px!important}
.css-paddingR45{ padding-right:45px!important}
.css-paddingR50{ padding-right:50px!important}
.css-paddingR100{ padding-right:100px!important}
.css-paddingR140{ padding-right:140px!important}

.css-paddingL0{ padding-left:0px!important}
.css-paddingL10{ padding-left:10px!important}
.css-paddingL20{ padding-left:20px!important}
.css-paddingL30{ padding-left:30px!important}
.css-paddingL40{ padding-left:40px!important}
.css-paddingL45{ padding-left:45px!important}
.css-paddingL50{ padding-left:50px!important}
.css-paddingL100{ padding-left:100px!important}

.css-paddingT0 { padding-top:0!important}
.css-paddingT5{ padding-top:5px!important}
.css-paddingT10{ padding-top:10px!important}
.css-paddingT12{ padding-top:12px!important}
.css-paddingT14{ padding-top:14px!important}
.css-paddingT20{ padding-top:20px!important}
.css-paddingT30{ padding-top:30px!important}
.css-paddingT40{ padding-top:40px!important}
.css-paddingT50{ padding-top:50px!important}
.css-paddingT60{ padding-top:60px!important}
.css-paddingT70{ padding-top:70px!important}
.css-paddingT80{ padding-top:80px!important}
.css-paddingT90{ padding-top:90px!important}
.css-paddingT100{ padding-top:100px!important}

.css-paddingB0{ padding-bottom:0px!important}
.css-paddingB10{ padding-bottom:10px!important}
.css-paddingB20{ padding-bottom:20px!important}
.css-paddingB25{ padding-bottom:25px!important}
.css-paddingB30{ padding-bottom:30px!important}
.css-paddingB40{ padding-bottom:40px!important}
.css-paddingB50{ padding-bottom:50px!important}

.css-fontSize10{ font-size:10px!important;}
.css-fontSize11{ font-size:11px!important;}
.css-fontSize12{ font-size:12px!important;}
.css-fontSize13{ font-size:13px!important;}
.css-fontSize14{ font-size:14px!important;}
.css-fontSize15{ font-size:15px!important;}
.css-fontSize16{ font-size:16px!important;}
.css-fontSize17{ font-size:17px!important;}
.css-fontSize18{ font-size:18px!important;}
.css-fontSize19{ font-size:19px!important;}
.css-fontSize20{ font-size:20px!important;}
.css-fontSize21{ font-size:21px!important;}
.css-fontSize22{ font-size:22px!important;}
.css-fontSize23{ font-size:23px!important;}
.css-fontSize24{ font-size:24px!important;}
.css-fontSize25{ font-size:25px!important;}
.css-fontSize26{ font-size:26px!important;}
.css-fontSize27{ font-size:27px!important;}
.css-fontSize28{ font-size:28px!important;}
.css-fontSize29{ font-size:29px!important;}
.css-fontSize30{ font-size:30px!important;}
.css-fontSize31{ font-size:31px!important;}
.css-fontSize32{ font-size:32px!important;}
.css-fontSize33{ font-size:33px!important;}
.css-fontSize34{ font-size:34px!important;}
.css-fontSize35{ font-size:35px!important;}
.css-fontSize36{ font-size:36px!important;}
.css-fontSize37{ font-size:37px!important;}
.css-fontSize38{ font-size:38px!important;}
.css-fontSize39{ font-size:39px!important;}
.css-fontSize40{ font-size:40px!important;}

.css-fontSize40{ font-size:40px!important;}
.css-fontSize41{ font-size:41px!important;}
.css-fontSize42{ font-size:42px!important;}
.css-fontSize43{ font-size:43px!important;}
.css-fontSize44{ font-size:44px!important;}
.css-fontSize45{ font-size:45px!important;}
.css-fontSize46{ font-size:46px!important;}
.css-fontSize47{ font-size:47px!important;}
.css-fontSize48{ font-size:48px!important;}
.css-fontSize49{ font-size:49px!important;}
.css-fontSize50{ font-size:50px!important;}
.css-fontSize56{ font-size:56px!important;}

.css-espacio10{ margin-bottom:10px;}
.css-espacio20{ margin-bottom:20px;}
.css-espacio30{ margin-bottom:30px;}
.css-espacio40{ margin-bottom:40px;}
.css-espacio50{ margin-bottom:50px;}
.css-espacio60{ margin-bottom:60px;}
.css-espacio70{ margin-bottom:70px;}
.css-espacio80{ margin-bottom:80px;}
.css-espacio90{ margin-bottom:90px;}
.css-espacio100{ margin-bottom:100px;}
.css-espacio230{ margin-bottom:230px;}

.css-minHeight10{ min-height:10px;}
.css-minHeight20{ min-height:20px;}
.css-minHeight30{ min-height:30px;}
.css-minHeight40{ min-height:40px;}
.css-minHeight50{ min-height:50px;}
.css-minHeight60{ min-height:60px;}
.css-minHeight70{ min-height:70px;}
.css-minHeight80{ min-height:80px;}
.css-minHeight90{ min-height:90px;}
.css-minHeight100{ min-height:100px;}

.css-line-height-1 { line-height:1!important;}

.css-boderB2 {border:0;}

.css-text-white { color: #FFF!important;}
.css-text-black { color: #000!important;}
.css-text-gold { color: #c4a96b!important;}
.css-text-green { color: #70c132!important;}
.css-text-yellow { color: #ebc726!important;}
.css-text-blue { color: #2C3462!important;}
.css-text-gray { color: #858584!important;}
.css-text-gray a{ color: #858584!important;}
.css-text-gray a:hover{ color: #DE4046!important;}
.css-text-red { color: #DE4046!important;}

.css-language{
	position:absolute;
	right:0;
	top:-35px;
	}

.btn-purple {
   background-color: #805574;
   color: #FFF;
   border: 1px solid #805574;
   border-radius: 0px;
}

.btn-purple:hover {
   background-color: #66465E;
   color: #FFF;
   border: 1px solid #66465E;
}

.btn-yellow {
   background-color: #ffd301;
   color: #000;
   border: 1px solid #ffd301;
   border-radius: 0px;
   padding: 15px 20px;
}

.btn-yellow:hover {
   background-color: #8D7C27;
   color: #000;
   border: 1px solid #8D7C27;
}

.btn-aqua {
   background-color: #5cc3e1;
   color: #000;
   border: 1px solid #5cc3e1;
   border-radius: 0px;
   padding: 15px 20px 9px 20px;
}

.btn-aqua:hover {
   background-color: #3c7f93;
   color: #000;
   border: 1px solid #3c7f93;
}

/*-----------------------------------------------------------------------------*/
.social-icons ul li { padding: 0 3px; }
.social-icons ul li a:hover .fa-facebook { color: #5AC2DF;}
.social-icons ul li a:hover .fa-twitter { color: #5AC2DF;}
.social-icons ul li a:hover .fa-pinterest-p { color: #5AC2DF;}
.social-icons ul li a:hover .fa-google-plus { color: #5AC2DF;}
.social-icons ul li a:hover .fa-youtube-play { color: #5AC2DF;}
.social-icons ul li a:hover .fa-instagram { color: #5AC2DF2;}
.social-icons ul li a { color: #FFF;}

.social-icons ul li a {
   border: 2px solid #FFF;
   width: 30px;
   height: 30px;
   text-align: center;
   border-radius: 50%;
   padding-top: 2px;
   font-size: 14px;
}

.social-icons ul li a:hover {
   border: 2px solid #FFF;
   background-color:#fff;
   color:#5AC2DF;
}

.css-nav-networks {
   background-color: #5AC2DF;
   padding: 5px 0;
}

#header .navbar {
   padding: 30px 0 0 0;
}

#header .navbar-inverse .navbar-nav li.active > a,
#header .navbar-inverse .navbar-nav li.active > a:focus,
#header .navbar-nav.navbar-right li > a:hover,
.navbar-inverse .navbar-nav > .open > a {
   border-bottom: 3px solid #303180;
}


.css-language > .nav-pills > li.active a {
	 background-color: #5AC2DF;
  color: #FFF;
  border-radius: 0px !important;
  padding: 4px 6px;
  font-family: 'oswaldextralight';
  font-size:16px;

}

.css-language > .nav-pills > li > a {
	color: #5AC2DF;
    border-radius: 0px !important;
    padding: 4px 6px;
  font-family: 'oswaldextralight';
  font-size:16px;
  background-color: #FFFF;
  border:solid 1px #5AC2DF;

}

.nav-pills > li > a {
	color: #FFF;

}

#header {
   margin-bottom: 0;
   padding: 30px 0 0px 0;
}

#header .navbar-nav.navbar-right > li a {
   padding: 30px 20px 40px 20px;
}

<!-- SLIDER-->
#home-slider {
   background-color: #CFA4C9;
   margin: 10px 0;
}

.mascaraSlider{
	position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    opacity: 0;
	}

.txtSlider{ max-width: 415px !important;}
#home-slider h1 {
   font-size: 30px;
   color: #FFF;
}

#home-slider p {
   color: #FFF;
}

.carousel-control.right {
    right: 0;
    background-image: none;
    background-repeat: repeat-x;
}

.carousel-control.left {
    right: 0;
    background-image: none;
    background-repeat: repeat-x;
}

.carousel-control {
    text-shadow: none;

}

.carousel-caption {
    text-shadow:none;
}

.post-thumb {
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
   height: 454px;
   width: 100%;
   cursor: pointer;
}

.post-thumb{
  margin: 0;
}

#features {
   padding-top:1px;
}

.single-blog .post-overlay span {
   background-color: #ffd301;
   width: 100%;
   height: 75px;
}

.post-overlay {
   width: 170px;
   height: 75px;
}

.single-blog .post-overlay span a {
    top: 20px;
    color: #000;
    left: 50px;
}

.css-post-left {
   top: 70px;
}

.css-post-left-bottom {
    top: 449px;
}

.css-post-right {
   top: 70px;
   right: 0;
}

.css-post-right-bottom {
    top: 449px;
    right: 0;
}

.posts {
	padding: 0px 0 0 0;
    background-color: #E9EDF1;
}

.shots-slider {
	margin-top:-30px;
}

.slick-slide {
}

.slick-prev::before, .slick-next::before {
   color: #5AC2DF;
}

.shots-thumb {
	padding: 30px 0px 0px;
	margin: 0 15px;
}

.shots-slider .slick-slide img,
.shots-slider .slick-center img {
	border-radius: 3px;
	transition: 0.4s;
	-webkit-transition: 0.4s;
}

.shots-slider a:hover img {
	/* transition: 0.4s;
	-webkit-transition: 0.4s;
	-webkit-transform: scale(1.05,1.05);
	-ms-transform: scale(1.05,1.05);
	transform: scale(1.05,1.05);
	cursor: url('../images/plus.png'), url('../images/plus.png'), move; */
}

.shots-thumb img {
	opacity: 1;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	cursor: pointer;
}

.shots-thumb img:hover {
	/* opacity: 0.6; */
	transition: 0.4s;
	-webkit-transition: 0.4s;
}

.shots .col-md-12 {
	max-width: 90%;
	margin: 0 auto;
	float: none;
}

/* Dots */
.slick-slider { margin-bottom: 30px; }

.slick-dots { position: absolute; bottom: -45px; list-style: none; display: block; text-align: center; padding: 0; width: 100%; }
.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0 0px; padding: 0; cursor: pointer; }
.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; }
.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1;color:#1273ce; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "•"; width: 20px; height: 20px; font-family: "slick"; font-size: 7px; line-height: 20px; text-align: center; color: black; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before { color: #1273ce; opacity: 1; }

.posts .container-fluid,
.posts .col-sm-3  {
   overflow: hidden;
   padding: 0;
}

.posts .folio-item {
   position: relative;
}

.posts .overlay {
   background-color: #5AC2DF;
   color: #fff;
   left: 0;
   right:0;
   /* bottom:-100%; */
   height: 0;
   position: absolute;
   text-align: center;
   opacity:0;
   -webkit-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}

.overlay .overlay-content {
   display: table;
   height: 100%;
   width: 100%;
}

.overlay .overlay-text {
   display: table-cell;
   vertical-align: middle;
}

.overlay .folio-info {
   opacity: 0;
   margin-bottom: 75px;
   margin-top: -75px;
   -webkit-transition: all 1s ease-in-out;
   transition: all 1s ease-in-out;
   padding-left: 40px;
   padding-right: 40px;
}

.overlay .folio-info h3 {
   margin-top: 0;
   color: #fff;
   text-align:left;
   text-transform:uppercase;
   font-family: 'oswaldextralight'!important;
}

.folio-overview a {
   font-size: 18px;
   color: #FFF;
   height: 50px;
   /* width: 50px; */
   /* line-height: 50px; */
   border-radius: 50%;
   /* background-color: #fff; */
   display: inline-block;
   margin-top: 20px;
   margin-right: 5px;
}

.folio-overview a:hover {
   color: #fff;
}

.folio-overview .folio-expand {
   margin-top: -500px;
   margin-left: -500px;
}

.folio-image, .folio-overview .folio-expand {
   -webkit-transition: all 0.8s ease-in-out;
   transition: all 0.8s ease-in-out;
}

.posts .folio-item:hover .folio-image {
/* -webkit-transform: scale(1.5) rotate(-15deg);
transform: scale(1.5) rotate(-15deg); */
}

.folio-image img {
   width: 100%;
}

.posts .folio-item:hover .overlay {
   opacity: 1;
   bottom: 0;
   height: 100%;
}

.posts .folio-item:hover .folio-overview .folio-expand {
   margin-top: 0;
   margin-left:0;
}

.posts .folio-item:hover .overlay .folio-info {
   opacity: 1;
   margin-bottom:0;
   margin-top:0;
}


#single-portfolio {
   padding: 90px 0;
   background: #f5f5f5;
   position: relative;
}

#single-portfolio img {
   width: 100%;
   margin-bottom: 10px;
}

#single-portfolio .close-folio-item {
   position: absolute;
   top: 30px;
   font-size: 34px;
   width: 34px;
   height: 34px;
   left: 50%;
   color: #999;
   margin-left: -17px;
}

.css-post-image {
   height: 510px;
   width: 100%;
   background-size: cover;
   background-position: top center;
}

.css-post-title {
   width: 100%;
   height: 67px;
   background-color: #5AC2DF;
   color: #FFF;
   padding: 2px 0 0 15px;
   position: absolute;
   bottom: 0;
}

#home-animation {
  /* background: url(../images/home/slider-bg.png) 0 100% repeat-x; */
  background-color: #B7CB82;
  position: relative;
}

#home-animation .main-slider-animated {
  position: relative;
  height: 500px;
}

#home-animation .slide-text{
  position: absolute;
  top: 50px;
  left: 0;
  width: 450px;
}

.animate-in .slide-text {
  -webkit-animation: fadeInLeftBig 700ms cubic-bezier(0.190,1.000,0.220,1.000) 200ms both;
  animation: fadeInLeftBig 700ms cubic-bezier(0.190,1.000,0.220,1.000) 200ms both;
}

#home-animation .slider-balloon-1 {
   position: absolute;
   right: 400px;
   top: 67px;
}

.animate-in .slider-balloon-1 {
  -webkit-animation: bounceInDown 1000ms ease-in-out 200ms both;
  animation: bounceInDown 1000ms ease-in-out 200ms both;
}

#home-animation .slider-balloon-2 {
   position: absolute;
   right: 195px;
   top: 40px;
}

.animate-in .slider-balloon-2 {
  -webkit-animation: bounceInDown 500ms ease-in-out 800ms both;
  animation: bounceInDown 500ms ease-in-out 800ms both;
}

#home-animation .css-cloud-1 {
   position: absolute;
   right: 465px;
   bottom: 210px;
}

#home-animation .css-cloud-2 {
   position: absolute;
   right: 275px;
   bottom: 281px;
}

#home-animation .css-cloud-3 {
   position: absolute;
   right: 58px;
   bottom: 316px;
}

#home-animation .css-cloud-4 {
   position: absolute;
   right: 158px;
   bottom: 75px;
}

#home-animation .css-cloud-5 {
   position: absolute;
   left: 100px;
   top: 45px;
}

.animate-in .slider-cloud {
  -webkit-animation: scaleIn 500ms ease-in-out 1200ms both;
  animation: scaleIn 500ms ease-in-out 1200ms both;
}

#home-animation .slider-balloon-3 {
   position: absolute;
   right: 95px;
   bottom: 135px;
}

.animate-in .slider-balloon-3 {
  -webkit-animation: fadeInLeft 800ms ease-in-out 1300ms both;
  animation: fadeInLeft 800ms ease-in-out 1300ms both;
}

#home-animation .slider-balloon-4 {
   position: absolute;
   right: 300px;
   bottom: 100px;
}

.animate-in .slider-balloon-4 {
  -webkit-animation: fadeInRight 800ms ease-in-out 1300ms both;
  animation: fadeInRight 800ms ease-in-out 1300ms both;
}

#home-animation .slider-balloon-5 {
   position: absolute;
   right: 400px;
   bottom: 55px;
}

.animate-in .slider-balloon-5 {
  -webkit-animation: fadeInLeft 800ms ease-in-out 1300ms both;
  animation: fadeInLeft 800ms ease-in-out 1300ms both;
}

.animate-in .css-shadow-animated {
   -webkit-animation: scaleIn 500ms ease-in-out 1200ms both;
   animation: scaleIn 500ms ease-in-out 1200ms both;
}

#home-animation .css-cloud-shadow-1 {
   position: absolute;
   right: 191px;
   top: 244px;
}

#home-animation .css-cloud-shadow-2 {
   position: absolute;
   right: -4px;
   top: 180px;
}

#home-animation .css-cloud-shadow-3 {
   position: absolute;
   right: 25px;
   top: 143px;
}

#home-animation .css-cloud-shadow-4 {
   position: absolute;
   right: 25px;
   top: 382px;
}

#home-animation .css-cloud-shadow-5 {
   position: absolute;
   left: 106px;
   top: 62px;
}

#home-animation .css-balloon-shadow-1 {
   position: absolute;
   right: 43px;
   top: 79px;
}

#home-animation .css-balloon-shadow-2 {
   position: absolute;
   right: 54px;
   top: 53px;
}

#home-animation .css-balloon-shadow-3 {
   position: absolute;
   right: 27px;
   top: 208px;
}

#home-animation .css-balloon-shadow-4 {
   position: absolute;
   right: 32px;
   bottom: -48px;
}

#home-animation .css-balloon-shadow-5 {
   position: absolute;
   right: 214px;
   bottom: 2px;
}

#home-animation h1{
   margin-top: 15px;
   margin-bottom: 25px;
}

#home-animation .btn-common {
  margin-top: 20px;
}

#home-animation .preloader {
  position: absolute;
  left: 0;
  top: 0;
  bottom: -30px;
  right: 0;
  background: #fafafa;
  text-align: center;
}

#home-animation .preloader > i {
  font-size: 48px;
  height: 48px;
  line-height: 48px;
  color: #00aeef;
  position: absolute;
  left: 50%;
  margin-left: -24px;
  top: 50%;
  margin-top: -24px;
}

.css-panel-animation {
   border: 1px solid #FFF;
   margin: 70px 0 0 100px;
}

.css-act-animated-hide {
   display: none;
}

#footer {
   background-color: #E9EDF1;
   padding: 40px 0 0 0;
   position: relative;
}



.css-cat-title-left-green {
   position: absolute;
   width: 150px;
   padding: 20px 10px;
   background-color: #9AAEA4;
   color: #FFF;
   text-align: center;
   top: 0;
   left: 0;
   font-family: 'oswaldextralight'!important;
}

.css-cat-title-right-green {
   position: absolute;
   width: 150px;
   padding: 20px 10px;
   background-color: #9AAEA4;
   color: #FFF;
   text-align: center;
   top: 0;
   right: 0;
   font-family: 'oswaldextralight'!important;
}

.css-cat-title-left-blue {
   position: absolute;
   width: 150px;
   padding: 20px 10px;
   background-color: #4D82B1;
   color: #FFF;
   text-align: center;
   top: 0;
   left: 0;
   font-family: 'oswaldextralight'!important;
}

.css-cat-title-right-red {
   position: absolute;
   width: 150px;
   padding: 20px 10px;
   background-color: #CA595D;
   color: #FFF;
   text-align: center;
   top: 0;
   right: 0;
   font-family: 'oswaldextralight'!important;
}

.css-cat-title-left-yellow {
   position: absolute;
   width: 150px;
   padding: 20px 10px;
   background-color: #CD9944;
   color: #FFF;
   text-align: center;
   top: 0;
   left: 0;
   font-family: 'oswaldextralight'!important;
}

.css-cat-title-right-yellow {
   position: absolute;
   width: 150px;
   padding: 20px 10px;
   background-color: #CD9944;
   color: #FFF;
   text-align: center;
   top: 0;
   right: 0;
   font-family: 'oswaldextralight'!important;
}

.css-overlay-green {
   background-color: #9AAEA4!important;
}

.css-overlay-red {
   background-color: #CA595D!important;
}

.css-overlay-blue {
   background-color: #4D82B1!important;
}

.css-overlay-yellow {
   background-color: #CD9944!important;
}

.css-overlay-title-left {
   position: absolute;
   top: 20px;
   left: 35px;
   color: #FFF;
   font-family: 'oswaldextralight'!important;
}

.css-overlay-title-right {
   position: absolute;
   top: 20px;
   right: 50px;
   color: #FFF;
   font-family: 'oswaldextralight'!important;
}

.css-categories {
   padding: 0;
}

.css-categories .container {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.css-categories-nav {
   background-color: #3E3E3D;
   position: relative;
   height: 45px;
}

.css-categories-nav li {
   /* display: inline-block; */
   float: left;
   width: 20%;
   height: 45px;
   border-right: 1px solid #B1B1B0;
   /* padding: 12px 0; */
}

.css-categories-nav li:first-child {
   border-left: 1px solid #B1B1B0;
}

.css-categories-nav li:hover {
   /* background-color: #6FC2BA; */
}

.css-categories-nav li > a {
   padding: 12px 15px;
   color: #B1B1B0;
   display: block;
   width: 100%;
}

.css-categories-nav li > a:hover {
   color: #FFF;
   background-color: #6FC2BA;
}

.css-categories-nav li > a > i {
   color: #B1B1B0;
   margin-right: 10px;
   margin-top: 5px;
   float: right;
}

.css-categories-nav li > a:hover > i {
   color:#FFF;
}

.css-products-banner {
   height: 300px;
}

.css-products-list {
   padding: 40px 0px;
}

.css-products-list .form-control {
   border-radius: 0;
   height: 50px;
}

.css-products-list .btn {
   min-height: 50px;
}

.css-products-list .list-group-item {
   border: none;
}

.css-products a {
   color: #575756 !important;
}

.css-products a:hover {
   color: #DB0E15 !important;
}

.css-txt-Tit a {
   color: #575756 !important;
}

.css-txt-Tit  {
   margin-top: 12px;
    text-transform: uppercase;
}

.css-txt-Tit:hover {
   color: #DB0E15;
}


.css-products-list .css-tag-yellow {
   background-color: #FFD300;
   padding: 15px;
   color: #575756;
}

.css-products-list .col-md-6 {
   margin-bottom: 50px;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
   background-color: #ECECEC;
}

.css-product-panel {
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   width: 100%;
   height: 395px;
   margin-bottom: 50px;
   margin-top: 50px;
}

.css-product-panel p {
   color: #858584;
}

.btn-warning {
   background-color: #DCAE50;
}

.css-ul-related {
   float: right;
}

.css-ul-related li {
   float: left;
   margin-left: 40px;
}

.css-ul-related p {
   color: #575756;
   font-size: 12px;
}

.css-access {
   padding: 40px 0;
   border-top:35px solid #F6EFBB;
}

.css-access a:hover {
   text-decoration: underline!important;
}

.btn-orange {
   color: #fff;
   background-color: #CD5A1B;
   border-color: #CD5A1B;
}

.btn-orange:hover {
    color: #fff;
    background-color: #B24D1B;
    border-color: #B24D1B;
}

.btn {
   border-radius: 0;
   font-family: 'oswaldregular'!important;
}

.css-dashboard {
   border-top:35px solid #F6EFBB;
   padding: 40px 0;
}

.css-space {
   width: 100%;
   height: 200px;
   background-color: #F4F1EC;
   margin-bottom: 20px;
}

.css-dashboard .list-group-item {
   border-right: none;
   border-left: none;
   border-top: 4px solid #ddd;
   font-size: 20px;
   text-align: center;
}

.css-dashboard .list-group .list-group-item:last-child {
   border-bottom: 4px solid #ddd;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
   background-color: #F5F5F5;
   border-color: #F5F5F5;
   color: #9F9F9F;
   border-top: 4px solid #ddd;
}

.breadcrumb a {
   color: #858584;
}

.breadcrumb a:hover {
   color: #4fcccd;
}

.css-contact {
   border-top: 35px solid #F6EFBB;
   padding: 40px 0;
}

#message {
   height: 180px;
}

.css-slide-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 655px;
}

.carousel-caption {
    bottom: inherit;
    top: 25%;
    left: 14%;
    text-align: left;
    width: 55%;
    margin-left: 140px;
}

.carousel-caption .css-text-carousel-container {
    margin-top: 100px;
}

.carousel-caption img {
    height: 570px;
    width: auto;
    margin: -300px 0 0 0;
}

.carousel-caption h2 {
    color: #FFF;
    font-size: 40px;
    max-width: 415px;
}

.carousel-caption p {
    font-size: 16px;
}

.single-blog {
    padding-bottom: 0;
}

.css-news-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    height: 470px;
    padding-top: 165px;
    padding-bottom: 200px;
	padding-right:30px;
	padding-left:30px;
}

.css-news-image h3 {
    font-family: 'oswaldregular'!important;
    color: #FFF;
}

.css-news-image a {
	font-family: 'oswaldextralight' !important;
    color: #FFF;
	padding:10px;
	border:solid 1px rgba(0,0,0,0.00);
	float:left
}


.css-news-image a:hover {
	font-family: 'oswaldextralight' !important;
    color: #FFF;
	border:solid 1px #fff;
	}


.css-news-info {
    background-color: #5cc3e1;
    height: 470px;
    padding-top: 30px;
	padding-left:30px;
	padding-right:30px;
}

.css-news-info h3 {
    font-size: 20px;
    color: #FFF;
    font-family: 'oswaldregular'!important;
	letter-spacing:1px;
}

.css-news-info p {
    font-size: 14px;
    color: #FFF;
}

.css-news-info a {
	font-family: 'oswaldextralight' !important;
    color: #FFF;
	padding:10px;
	border:solid 1px rgba(0,0,0,0.00);
	float:left;
	}

.css-news-info a:hover {
	font-family: 'oswaldextralight' !important;
    color: #FFF;
	border:solid 1px #fff;
	}

.css-news-image-thumb {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    height: 390px;

}





/*
 * Component: Box
 * --------------
 */
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 44px !important;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box.box-primary {
  border-top-color: #3c8dbc;
}
.box.box-info {
  border-top-color: #00c0ef;
}
.box.box-danger {
  border-top-color: #dd4b39;
}
.box.box-warning {
  border-top-color: #f39c12;
}
.box.box-success {
  border-top-color: #b0cd7f;
}
.box.box-default {
  border-top-color: #d2d6de;
}
.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
  display: none;
}
.box .nav-stacked > li {
  border-bottom: 1px solid #f4f4f4;
  margin: 0;
}
.box .nav-stacked > li:last-of-type {
  border-bottom: none;
}
.box.height-control .box-body {
  max-height: 300px;
  overflow: auto;
}
.box .border-right {
  border-right: 1px solid #f4f4f4;
}
.box .border-left {
  border-left: 1px solid #f4f4f4;
}
.box.box-solid {
  border-top: 0;
}
.box.box-solid > .box-header .btn.btn-default {
  background: transparent;
}
.box.box-solid > .box-header .btn:hover,
.box.box-solid > .box-header a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.box.box-solid.box-default {
  border: 1px solid #d2d6de;
}
.box.box-solid.box-default > .box-header {
  color: #444444;
  background: #d2d6de;
  background-color: #d2d6de;
}
.box.box-solid.box-default > .box-header a,
.box.box-solid.box-default > .box-header .btn {
  color: #444444;
}
.box.box-solid.box-primary {
  border: 1px solid #3c8dbc;
}
.box.box-solid.box-primary > .box-header {
  color: #ffffff;
  background: #3c8dbc;
  background-color: #3c8dbc;
}
.box.box-solid.box-primary > .box-header a,
.box.box-solid.box-primary > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-info {
  border: 1px solid #00c0ef;
}
.box.box-solid.box-info > .box-header {
  color: #ffffff;
  background: #00c0ef;
  background-color: #00c0ef;
}
.box.box-solid.box-info > .box-header a,
.box.box-solid.box-info > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-danger {
  border: 1px solid #dd4b39;
}
.box.box-solid.box-danger > .box-header {
  color: #ffffff;
  background: #dd4b39;
  background-color: #dd4b39;
}
.box.box-solid.box-danger > .box-header a,
.box.box-solid.box-danger > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-warning {
  border: 1px solid #f39c12;
}
.box.box-solid.box-warning > .box-header {
  color: #ffffff;
  background: #f39c12;
  background-color: #f39c12;
}
.box.box-solid.box-warning > .box-header a,
.box.box-solid.box-warning > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-success {
  border: 1px solid #b0cd7f;
}
.box.box-solid.box-success > .box-header {
  color: #ffffff;
  background: #b0cd7f;
  background-color: #b0cd7f;
}
.box.box-solid.box-success > .box-header a,
.box.box-solid.box-success > .box-header .btn {
  color: #ffffff;
}
.box.box-solid > .box-header > .box-tools .btn {
  border: 0;
  box-shadow: none;
}
.box.box-solid[class*='bg'] > .box-header {
  color: #fff;
}
.box .box-group > .box {
  margin-bottom: 5px;
}
.box .knob-label {
  text-align: center;
  color: #333;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 0.3em;
}
.box > .overlay,
.overlay-wrapper > .overlay,
.box > .loading-img,
.overlay-wrapper > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.box .overlay,
.overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}
.box .overlay > .fa,
.overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}
.box .overlay.dark,
.overlay-wrapper .overlay.dark {
  background: rgba(0, 0, 0, 0.5);
}
.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
  content: " ";
  display: table;
}
.box-header:after,
.box-body:after,
.box-footer:after {
  clear: both;
}
.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}
.collapsed-box .box-header.with-border {
  border-bottom: none;
}
.collapsed-box{ margin-bottom:-44px !important;}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion {
  margin-right: 5px;
}
.box-header > .box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}
.box-header > .box-tools [data-toggle="tooltip"] {
  position: relative;
}
.box-header > .box-tools.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}
.box-header > .box-tools .dropdown-menu > li > a {
  color: #444!important;
}
.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  /* color: #97a0b3; */
}
.open .btn-box-tool,
.btn-box-tool:hover {
  color: #606c84;
}
.btn-box-tool.btn:active {
  box-shadow: none;
}
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.no-header .box-body {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.box-body > .table {
  margin-bottom: 0;
}
.box-body .fc {
  margin-top: 5px;
}
.box-body .full-width-chart {
  margin: -19px;
}
.box-body.no-padding .full-width-chart {
  margin: -9px;
}
.box-body .box-pane {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}
.box-body .box-pane-right {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
}
.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #ffffff;
}
.chart-legend {
  margin: 10px 0;
}
@media (max-width: 991px) {
  .chart-legend > li {
    float: left;
    margin-right: 10px;
  }
}
.box-comments {
  background: #f7f7f7;
}
.box-comments .box-comment {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}
.box-comments .box-comment:before,
.box-comments .box-comment:after {
  content: " ";
  display: table;
}
.box-comments .box-comment:after {
  clear: both;
}
.box-comments .box-comment:last-of-type {
  border-bottom: 0;
}
.box-comments .box-comment:first-of-type {
  padding-top: 0;
}
.box-comments .box-comment img {
  float: left;
}
.box-comments .comment-text {
  margin-left: 40px;
  color: #555;
}
.box-comments .username {
  color: #444;
  display: block;
  font-weight: 600;
}
.box-comments .text-muted {
  font-weight: 400;
  font-size: 12px;
}
/* Widget: TODO LIST */
.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
}
.todo-list > li {
  border-radius: 2px;
  padding: 10px;
  background: #f4f4f4;
  margin-bottom: 2px;
  border-left: 2px solid #e6e7e8;
  color: #444;
}
.todo-list > li:last-of-type {
  margin-bottom: 0;
}
.todo-list > li > input[type='checkbox'] {
  margin: 0 10px 0 5px;
}
.todo-list > li .text {
  display: inline-block;
  margin-left: 5px;
  font-weight: 600;
}
.todo-list > li .label {
  margin-left: 10px;
  font-size: 9px;
}
.todo-list > li .tools {
  display: none;
  float: right;
  color: #dd4b39;
}
.todo-list > li .tools > .fa,
.todo-list > li .tools > .glyphicon,
.todo-list > li .tools > .ion {
  margin-right: 5px;
  cursor: pointer;
}
.todo-list > li:hover .tools {
  display: inline-block;
}
.todo-list > li.done {
  color: #999;
}
.todo-list > li.done .text {
  text-decoration: line-through;
  font-weight: 500;
}
.todo-list > li.done .label {
  background: #d2d6de !important;
}
.todo-list .danger {
  border-left-color: #dd4b39;
}
.todo-list .warning {
  border-left-color: #f39c12;
}
.todo-list .info {
  border-left-color: #00c0ef;
}
.todo-list .success {
  border-left-color: #b0cd7f;
}
.todo-list .primary {
  border-left-color: #3c8dbc;
}
.todo-list .handle {
  display: inline-block;
  cursor: move;
  margin: 0 5px;
}
/* Chat widget (DEPRECATED - this will be removed in the next major release. Use Direct Chat instead)*/

.css-section-chat h2{ font-size:28px;}
.chatIco {
    position: absolute;
    right: 0;
    z-index: 99;
    top: -55px;
    width: 90px;
    height: 86px;
	line-height: 36px;
}
.chat {
  padding: 5px 20px 5px 10px;
}
.chat .item {
  margin-bottom: 10px;
}
.chat .item:before,
.chat .item:after {
  content: " ";
  display: table;
}
.chat .item:after {
  clear: both;
}
.chat .item > img {
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 50%;
}
.chat .item > .online {
  border: 2px solid #b0cd7f;
}
.chat .item > .offline {
  border: 2px solid #dd4b39;
}
.chat .item > .message {
  margin-left: 55px;
  margin-top: -40px;
}
.chat .item > .message > .name {
  display: block;
  font-weight: 600;
}
.chat .item > .attachment {
  border-radius: 3px;
  background: #f4f4f4;
  margin-left: 65px;
  margin-right: 15px;
  padding: 10px;
}
.chat .item > .attachment > h4 {
  margin: 0 0 5px 0;
  font-weight: 600;
  font-size: 14px;
}
.chat .item > .attachment > p,
.chat .item > .attachment > .filename {
  font-weight: 600;
  font-size: 13px;
  font-style: italic;
  margin: 0;
}
.chat .item > .attachment:before,
.chat .item > .attachment:after {
  content: " ";
  display: table;
}
.chat .item > .attachment:after {
  clear: both;
}
.box-input {
  max-width: 200px;
}
.modal .panel-body {
  color: #444;
}

/*
 * Component: Direct Chat
 * ----------------------
 */
.direct-chat .box-body {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  overflow-x: hidden;
  padding: 0;
}
.direct-chat.chat-pane-open .direct-chat-contacts {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.direct-chat-messages {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  padding: 10px;
  height: 250px;
  overflow: auto;
}
.direct-chat-msg,
.direct-chat-text {
  display: block;
}
.direct-chat-msg {
  margin-bottom: 10px;
}
.direct-chat-msg:before,
.direct-chat-msg:after {
  content: " ";
  display: table;
}
.direct-chat-msg:after {
  clear: both;
}
.direct-chat-messages,
.direct-chat-contacts {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.direct-chat-text {
  border-radius: 5px;
  position: relative;
  padding: 5px 10px;
  background: #d2d6de;
  border: 1px solid #d2d6de;
  margin: 5px 0 0 50px;
  color: #444444;
}
.direct-chat-text:after,
.direct-chat-text:before {
  position: absolute;
  right: 100%;
  top: 15px;
  border: solid transparent;
  border-right-color: #d2d6de;
  content: ' ';
  height: 0;
  width: 0;
  pointer-events: none;
}
.direct-chat-text:after {
  border-width: 5px;
  margin-top: -5px;
}
.direct-chat-text:before {
  border-width: 6px;
  margin-top: -6px;
}
.right .direct-chat-text {
  margin-right: 50px;
  margin-left: 0;
}
.right .direct-chat-text:after,
.right .direct-chat-text:before {
  right: auto;
  left: 100%;
  border-right-color: transparent;
  border-left-color: #d2d6de;
}
.direct-chat-img {
  border-radius: 50%;
  float: left;
  width: 40px;
  height: 40px;
}
.right .direct-chat-img {
  float: right;
}
.direct-chat-info {
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
}
.direct-chat-name {
  font-weight: 600;
}
.direct-chat-timestamp {
  color: #999;
}
.direct-chat-contacts-open .direct-chat-contacts {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.direct-chat-contacts {
  -webkit-transform: translate(101%, 0);
  -ms-transform: translate(101%, 0);
  -o-transform: translate(101%, 0);
  transform: translate(101%, 0);
  position: absolute;
  top: 0;
  bottom: 0;
  height: 250px;
  width: 100%;
  background: #222d32;
  color: #fff;
  overflow: auto;
}
.contacts-list > li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 0;
}
.contacts-list > li:before,
.contacts-list > li:after {
  content: " ";
  display: table;
}
.contacts-list > li:after {
  clear: both;
}
.contacts-list > li:last-of-type {
  border-bottom: none;
}
.contacts-list-img {
  border-radius: 50%;
  width: 40px;
  float: left;
}
.contacts-list-info {
  margin-left: 45px;
  color: #fff;
}
.contacts-list-name,
.contacts-list-status {
  display: block;
}
.contacts-list-name {
  font-weight: 600;
}
.contacts-list-status {
  font-size: 12px;
}
.contacts-list-date {
  color: #aaa;
  font-weight: normal;
}
.contacts-list-msg {
  color: #999;
}
.direct-chat-danger .right > .direct-chat-text {
  background: #dd4b39;
  border-color: #dd4b39;
  color: #ffffff;
}
.direct-chat-danger .right > .direct-chat-text:after,
.direct-chat-danger .right > .direct-chat-text:before {
  border-left-color: #dd4b39;
}
.direct-chat-primary .right > .direct-chat-text {
  background: #3c8dbc;
  border-color: #3c8dbc;
  color: #ffffff;
}
.direct-chat-primary .right > .direct-chat-text:after,
.direct-chat-primary .right > .direct-chat-text:before {
  border-left-color: #3c8dbc;
}
.direct-chat-warning .right > .direct-chat-text {
  background: #f39c12;
  border-color: #f39c12;
  color: #ffffff;
}
.direct-chat-warning .right > .direct-chat-text:after,
.direct-chat-warning .right > .direct-chat-text:before {
  border-left-color: #f39c12;
}
.direct-chat-info .right > .direct-chat-text {
  background: #00c0ef;
  border-color: #00c0ef;
  color: #ffffff;
}
.direct-chat-info .right > .direct-chat-text:after,
.direct-chat-info .right > .direct-chat-text:before {
  border-left-color: #00c0ef;
}
.direct-chat-success .right > .direct-chat-text {
  background: #b0cd7f;
  border-color: #b0cd7f;
  color: #ffffff;
}
.direct-chat-success .right > .direct-chat-text:after,
.direct-chat-success .right > .direct-chat-text:before {
  border-left-color: #b0cd7f;
}

.css-chat-box {
    position: fixed;
    bottom: -42px;
    right: 0;
    padding: 0;
}

.css-banner {
    height: 280px;
    width: auto;
    float: right;
    /* margin-right: 140px; */
    margin-top: 20px;
}

.btn-big {
    padding: 30px 50px 30px 50px;
    font-size: 13px;
}

.css-section-chat {
    min-height: 385px;
    padding: 0  0 40px 0;
    background-color: #b0cd7f;
    cursor: pointer;
    display: block;
}

.direct-chat .box-header {
    background-color: #8abe4f;
}

.direct-chat .box-title {
    color: #FFF;
}

.css-seller-panel {
    background-color: #FFF;
    width: 100%;
    height: 300px;
	position:relative;
}

.css-seller-panel .css-seller-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.css-seller-body {
    padding: 10px 10px;
}

.css-seller-footer{ position: absolute; bottom:0 !important; width:100%;}

.css-section-new {
    background-color: #e8eef3;
}

.css-new-left-panel {
    background-color: #5cc3e1;
    height: 450px;
    padding: 0 25px 20px 25px;
}

.css-new-left-panel h2 {
    font-family: 'oswaldextralight'!important;
    color: #FFF;
    text-align: center;
    margin-top: 80px;
    font-size: 32px;
    margin-bottom: 40px;
}

.css-new-left-panel p {
    color: #FFF;
    text-align: justify;
}

.css-new-image-panel {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
}

.css-section-new-body {
    padding: 40px 0;
}

.css-news-panel-1 {
    height: 385px;
    background-color: #FFF;
}

.css-news-panel-1 .css-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 330px;
    width: 100%;
    position: relative;
}

.css-news-panel-1 .css-new-description {
    background-color: #FFF;
    height: 100px;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25%;
    padding: 0 20px;
}

.css-news-panel-1 h3 {
    font-weight: bold;
    font-family: 'oswaldextralight'!important;
    text-align: center;
}

.css-news-panel-1-footer {
    background-color: #5cc3e1;
    height: 50px;
    width: 100%;
    padding: 10px 10px 0 0;
    margin-bottom: 40px;
}

.css-news-panel-2 {
    height: 470px;
    margin-bottom: 50px;
}

.css-news-panel-2 .css-new-description {
    bottom: -50px;
    width: 70%;
    margin-left: -35%;
}

.css-input-search {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 0;
    height: 45px;
}

.css-ul-recent-entries {
    padding: 0;
    margin-bottom: 80px;
}

.css-ul-recent-entries li {
    margin-bottom: 12px;
}

.css-ul-recent-entries a {
    color: #909091;
    font-size: 15px;
}

.css-news-head-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    position: relative;
}

.css-news-title {
    position: absolute;
    height: 80px;
    width: 300px;
    left: 50%;
    bottom: 0;
    margin-left: -150px;
    font-family: 'oswaldextralight'!important;
    text-align: center;
    background-color: #FFF;
    font-size: 25px;
    padding: 30px 0;
}

.css-news-description {
    background-color: #FFF;
    min-height: 400px;
    padding: 80px 150px;
    text-align: justify;
}

.post-thumb {
    height: 450px;
    /* background-size: contain; */
    background-repeat: no-repeat;
}

.css-scrollable {
    max-height: 350px;
    overflow-y: auto;
}

.css-product-image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
}

.css-disabled {
    pointer-events: none;
}

.css-product-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.css-news-panel-1 a { color: #000; }
.css-news-panel-1 a:hover { color: #909091; }

.css-novelty-container {
    padding-left: 100px;
    padding-right: 100px;
    /* margin-right: 0;
    margin-left: 0; */
}

.css-show-desktop { display: block; }
.css-product-image-detail { height: 400px; }
.css-ul-related img { width: 100px; }
.css-container-panel { margin-bottom: 20px;}


nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

.main{
    padding: 10px 10px 0 10px;
}

.navbar-default {
    background-color: #FFF;
    border-color: #FFF;
}

.navbar-default li a {
    font-size: 15px;
    text-align: right;
    padding: 14px 14px 14px 10px;
}

.css-list-products-a a {
    color: #575756!important;
}

.css-list-products-a a:hover {
    color: #DB0E15!important;
}

@media (min-width: 765px) {
    .main{
        position: absolute;
        width: calc(100% - 40px);
        margin-left: 40px;
        float: right;
    }

    nav.sidebar:hover + .main{
        margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }


    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }

    nav.sidebar li {
        width: 100%;
    }

    nav.sidebar:hover{
        margin-left: 0px;
    }

    .forAnimate{
        opacity: 0;
    }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate{
    opacity: 1;
}

section{
    /* padding-left: 15px; */
}

.css-search {
    margin-right: 100px;
}

.css-element-fixed-top {
    position: fixed;
    top: 8%;
  /*  left: 14%;*/
    width: 324px;
}

.css-menu-fixed {
    position: fixed;
    height: 83px;
    width: 100%;
    z-index: 999;
    top: 0;
    border-bottom: 1px solid #303180!important;
    padding: 10px 0 0 0!important;
}

.css-menu-fixed .navbar-nav.navbar-right > li a {
    padding: 25px!important;
}

.css-menu-fixed .css-language {
    display: none;
}

.css-paddingL100M {
    padding-left: 100px!important;
}

.post-overlay small {
    position: absolute;
    font-size: 13px;
    font-weight: 300;
    margin-left: 5px;
    top: 20px;
    color: #000;
    left: 50px;
}

.css-gallery-image {
    height: 150px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.css-active {
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
    opacity: 0.7;
}

#collapse-sellers {
    position: relative;
}

#collapse-sellers .css-close {
    width: 30px;
    height: 30px;
    background-color: #f5f5f5;
    color: #c4c4c4;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 999;
    font-size: 21px;
    padding-top: 3px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #c4c4c4;
}

.css-help {
    width: 125px;
    font-family: 'oswaldextralight' !important;
    color: #FFF !important;
    text-transform: uppercase;
}

.css-invoice-container {
    background-color: #222;
    width: 100%;
    position: absolute;
    min-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.css-pdf-body {
    background-color: #FFF;
    width: 600px;
    min-height: 600px;
    display: block;
    margin: 0 auto;
    /* padding: 25px 40px 20px 40px; */
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #555555;
}

.css-h1 {
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
    font-weight: normal;
}

.css-h2 {
    margin: 0 0 10px 0;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #333333;
    font-weight: bold;
}

.css-btn-container {
    width: 600px;
    display: block;
    margin: 0 auto;
}
.css-center { text-align: center; }
.css-background-white { background-color: #FFF!important; }

@media (max-width: 950px) {
    .css-element-fixed-top {
        position: static;
        width: inherit;
    }

    .css-list-products-a img {
        height: auto;
    }

    .css-product-list-image {
        height: auto;
        width: 217px;
    }

    .css-list-products-a {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .css-r-hidden { display: none;}
    .css-ul-related p { position: static!important; }
    .imgMinG { width: 100%;}

    #sub-menu a{
        text-align: left;
    }

    #frm-search .form-group {
        margin-left: 50px;
    }

    .css-element-fixed-top {
        position: static;
        width: inherit;
    }

    .css-noPadding-m {
        padding: 0!important;
    }

    .css-search {
        margin-right: 0!important;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-top: 0;
        margin-top: 16px;
        background-color: #FFF;
    }

    .navbar.navbar-inverse {
        margin-top: 0;
    }

    .css-paddingL100M {
        padding-left: 15px !important;

    }

    #home-slider .slide-text {
        margin-left: 0!important;
        top: 0!important;
    }

    .css-center-responsive {
        text-align: center;
        float: none!important;
        max-width: 100%!important;
    }

    .css-novelty {
        float: none!important;
    }

    .css-product-list-image {
        height: auto;
        width: 217px;
    }


    #frm-search {
        width: 75%;
    }

    .css-search {
        margin-right: 0;
    }

    .css-products-banner {
        height: 100px;
    }

    .css-banner {
        margin-top: 80px;
    }

	.carousel-caption h2 {
        color: #FFF;
        font-size: 30px;
        max-width: 100%
    }

    .css-container-panel { margin-bottom: 60px;}
    .css-products-list .btn { width: 100% }
    .css-product-image-detail {
        height: auto!important;
        width: 100%;
        margin-bottom: 30px;
    }
    .css-show-desktop { display: none; }
    .css-nav-responsive{
        padding-left: 15px;
        padding-right: 15px;
    }
    .css-language {
        right: 19px;
    }
    #home-slider {
		margin: 0px 0 0 0!important;
    }

	#header .navbar-brand {
    padding: 0;
    margin-left: 0;
    margin-top: 10px;
}

	.carousel-caption {
        bottom: inherit;
        top: 0px;
        left: 14%;
        text-align: left;
        width: 100%;
        padding: 40px 20px 20px 20px;
    	margin-left:0;
    }

    .carousel-caption img {
        height: 375px;
        width: auto;
        margin: -40px 0 0 0;
    }

    .post-thumb {
        height: 250px;
        border-bottom: solid #fff 2px;
        border-top: solid #fff 2px;
        border-right: solid #fff 2px;
        border-left: solid #fff 2px;
        background-repeat: no-repeat;
    }
    #header .navbar {
        padding: 0 0 0 0;
    }

    .css-language {
        position: absolute;
        right: 8px;
        top: -35px;
    }

    .css-slide-image {
        height: 555px;
    }

    .posts .folio-item {
        border-bottom: solid 4px #fff;
    }

    #header .navbar-inverse .navbar-nav li.active > a, #header .navbar-inverse .navbar-nav li.active > a:focus, #header .navbar-nav.navbar-right li > a:hover, .navbar-inverse .navbar-nav > .open > a {
        border-bottom: solid 0px #FFF;
    }

    #header .navbar-nav.navbar-right > li a {
        padding: 20px 20px 20px 16px;
        font-size: 18px;
    }
    .txtSlider {
        display: none;
    }
    .carousel-caption {
        left: 0;
        right: 0;
    }
    .css-novelty-container {
        padding-left: 0;
        padding-right: 0;
    }

	.css-boderB2 {
		border: solid 2px #fff;
    }


    #home-slider .slide-text {
        top: 118px;
        margin-left: 0;

    }


    .mascaraSlider{
    	position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: #000;
        opacity: 0.3;
	}

    #header {
        padding: 30px 0 22px 0;
    }

    .css-section-new {
        /* background-color: #5cc3e1; */
    }
    .css-section-new .container {
        padding: 0;
    }
    .css-news-panel-1 {
        height: 400px;
    }
    .css-news-panel-1 .css-new-description {
        margin-left: -45%;
        width: 90%;
    }
    .css-no-padding-mobile { padding: 0; }
    .css-news-description {
        padding: 18px;
    }
    .css-new-left-panel {
        padding-top: 20px;
    }
    .css-new-left-panel h2 {
        margin-top: 0;
    }
    .css-ul-related {
        padding-left: 0;
        margin-top: 30px;
    }
    .css-ul-related img { width: 100%; }

    .css-products {
        height: 310px;
    }
}

@media (min-width: 1330px) {
    .main{
        width: calc(100% - 200px);
        margin-left: 200px;
    }

    nav.sidebar{
        margin-left: 0px;
        float: left;
    }

    nav.sidebar .forAnimate{
        opacity: 1;
    }
}
